body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    max-width: 1920px;
}

span {
    font-size: 14px;
    font-weight: 250;
}

p {
    font-size: 14px;

}

li {
    font-size: 14px;
}

button {
    background-color: #0a7e0c;
    color: #efefef;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-color: black;

}

input {
    padding: 6px;
    border: 0px;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    position: absolute;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
}

header img {
    width: 200px;

}

.navlink {

    text-decoration: none;
    margin-left: 16px;
    color: #606060;
}

.navlink:hover {
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}

.img-section {
    padding-bottom: 50px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 110px;
}

.img-section img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;

}

.informations-schnitzel {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.informations-zeit {
    background-image: url(./img/clock-regular.svg);
    background-color: #efefef;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 10px;
}

.informations-kcal {
    background-image: url(./img/brain-solid.svg);
    background-color: #efefef;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 10px;
}

.informations-datum {
    background-image: url(./img/calendar-alt-regular.svg);
    background-color: #efefef;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 10px;
}

.liste-zutaten {
    margin-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

.liste-ul {
    padding: 0px;
}

.grey {
    background-color: #efefef;
    padding: 18px;
    border-radius: 8px;
}

.space {
    padding: 18px;
}

.phone-button-div {
    display: flex;
    align-items: baseline;
}






.zubereitung-section {
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.zubereitung-section h2 {
    font-size: 24px;
    font-weight: 600;
}

.zubereitung-section p {
    margin: 0px;
}

.zubereitung-informationen {
    margin-bottom: 30px;
}




.kontakt-section {
    padding-top: 24px;
    padding-left: 150px;
    padding-right: 150px;
}

.kontakt-section-informationen {
    display: flex;
    align-items: center;
    gap: 20px;
}

.kontakt-section img {
    width: 100px;
    border-radius: 50%;
}

.kontakt-section span {
    font-size: 16px;
    font-weight: 600;
}

.kontakt-section h3 {

    font-size: 16px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: grey;
    height: 100px;
    margin-top: 80px;

}

.footer-img {
    width: 250px;
    height: auto;

}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 32px;

}

.social-icons a img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.contact-box {
    background-color: rgb(185, 176, 176);
    padding: 20px 30px;
    border-radius: 10px;
    width: 400px;

}

.contact-box h2 {
    margin-top: 0;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-size: 0.9em;
}

input,
textarea {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.impressum-site {
    margin-top: 230px;
    margin-left: 10px;
}



@media (max-width: 1024px) {

    .img-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .zubereitung-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .kontakt-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .liste-zutaten {
        padding-left: 50px;
        padding-right: 50px;
    }


}



@media (max-width: 675px) {

    .display-none-header {
        display: none;
    }


    .img-section {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 32px;
    }

    .zubereitung-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .kontakt-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .liste-zutaten {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 450px) {

    .footer-img {
        display: none;
    }

    .social-icons {
        gap: 80px;
    }

    .phone-button-div {
        display: flex;
        flex-direction: column;
    }

    .site-footer {
        margin-top: 50px;
    }

    .button {
        width: 100%;
    }


}

@media (max-width: 425px) {

    .social-icons {
        gap: 60px;
    }

    .informations-schnitzel {
        flex-direction: column;
    }


}